<div class="videos-wrapper">
  <div class="container">
    <div class="d-flex mb-3 align-items-center">
      <h4>My Video Bus</h4>
      <div class="ml-auto">
        <nz-input-group [nzPrefix]="iconSearch">
          <input [formControl]="filter" type="text" nz-input placeholder="Search By Title" />
        </nz-input-group>
        <ng-template #iconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
    </div>
    <div *ngIf="errorMessage" class="alert alert-danger">
      <p>{{ errorMessage }}</p>
    </div>
    <nz-table
      #videosTable
      [nzData]="videos$ | async"
      [nzFrontPagination]="false"
      [nzLoading]="loading"
      [nzTotal]="totalCount"
      [nzPageSize]="maxResultsPerPage"
      [nzPageIndex]="pageIndex"
      [nzSimple]="true"
      (nzQueryParams)="onQueryParamsChange($event)"
    >
      <thead>
        <tr>
          <th
            *ngFor="let column of columns"
            [nzColumnKey]="column.key"
            [nzSortOrder]="column.sortOrder"
            [nzSortFn]="column.sortFn"
            [nzSortDirections]="column.sortDirections"
          >
            {{ column?.name }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let video of videosTable.data">
          <td>
            <img [src]="video?.defaultThumb" [alt]="video?.title" />
          </td>
          <td>{{ video?.title }}</td>
          <td>{{ video?.publishedDate | date: "shortDate" }}</td>
          <td>
            <button nz-button nzType="default" [routerLink]="['/videos/', video?.id]">Details</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
