/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f7f7f7;
}

.videos-wrapper {
    padding: 40px 0px;

    .ant-table {
        table {
            box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.05);
        }
    }
}