/* You can add global styles to this file, and also import other style files */
@import "./variables";

body {
    background-color: $main-bg;
    font-size: 15px;
}

.video-details-wrapper {
    padding: 40px 0px;
    .details-container {
        margin: 0 40px;
        padding: 20px 0px;
        box-shadow: $main-box-shadow;
        background-color: $white;

        .views, .likes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            i {
                font-size: 18px;
            }
        }
    }
}

.videos-wrapper {
    padding: 40px 0px;

    .ant-table {
        table {
            box-shadow: $main-box-shadow;
        }
    }
}

.ant-input-prefix {
    line-height: 17px;
    font-size: 17px;
}

.ant-rate {
    color: $main-color !important;
}