/* You can add global styles to this file, and also import other style files */
@import "./variables";

body {
    background-color: $main-bg;
    font-size: 15px;
}

.header {
    padding: 20px 0px;
    background-color: $light-gray;
    box-shadow: 0px 1px 20px 0px rgba(0, 0, 0, 0.25);
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 9999;

    h4 {
        color: $main-color;
        margin: 0;
        cursor: pointer;
    }
    .search-box {
        width: 25%;
        .ant-input-affix-wrapper {
            border-radius: 25px;
        }
    }
}

.video-details-wrapper {
    padding: 110px 0px 50px;
    .details-container {
        margin: 0 40px;
        padding: 20px 0px;
        box-shadow: $main-box-shadow;
        background-color: $white;

        .views, .likes {
            display: flex;
            align-items: center;
            justify-content: space-between;
            i {
                font-size: 18px;
            }
        }
    }
}

.videos-wrapper {
    padding: 90px 0px 50px;

    .ant-table {
        table {
            box-shadow: $main-box-shadow;
        }
    }

    .ant-pagination-simple .ant-pagination-next,
    .ant-pagination-simple .ant-pagination-prev {
        line-height: 19px !important;
    }
}

.ant-input-prefix {
    line-height: 17px;
    font-size: 17px;
}

.ant-rate {
    color: $main-color !important;
}